*-bak
*_bak
*.bak

*_autosave*
*.autosave
#auto_saved_files#

*.lck
~*.kicad_sch
~*.kicad_pcb

.fp-info-cache

.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo

!**/*.kicad_mod
!**/*.pretty/**
!**/*.kicad_sym
!**/*.step
!**/*.stp
!**/*.wrl

*.step~
*.wrl~
